@model IEnumerable<LastTriel.Models.LearningActivity>
@{
    ViewData["Title"] = "Activities";
}
<link rel="stylesheet" href="~/css/StyleSheet.css">
<script src="~/js/script.js"></script>
<h1>Activities</h1>

<table class="table">
    <thead>
        <tr>
            <th>Activity ID</th>
            <th>Course ID</th>
            <th>Module ID</th>
            <th>Activity Type</th>
            <th>Instruction Details</th>
            <th>Max Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model)
        {
            <tr>
                <td>@activity.ActivityId</td>
                <td>@activity.Cid</td>
                <td>@activity.ModuleId</td>
                <td>@activity.ActivityType</td>
                <td>@activity.Instruction</td>
                <td>@activity.MaxPoints</td>
            </tr>
        }
    </tbody>
</table>
